@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Soviet";
    src: url("/fonts/Soviet.ttf") format("truetype");
}

* {
    font-family: "Soviet", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}